<!-- Preloader -->
<!-- <div class="preloader">
    <div class="loader animated pulse">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>

    </div>
</div> -->
<!-- Preloader -->

<!-- Main wrapper -->
<div class="quiz-wrapper view">
    <div class="mask pattern-6"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 q-panel-holder animated pulse">
                <!-- Player 1 Screen -->
                <div class="col-md-6 col-12 player-1">
                    <!-- Preloader -->
                    <!-- <div class="waiting-preloader">
                        <div class="box">
                            <h6>waiting...</h6>
                        </div>
                    </div> -->

                    <div class="col-12 q-panel p-0">
                        <!--Panel header -->
                        <div class="q-panel-header col-12">
                            <div class="col-4 score p-0">
                                <h6 class="text-white">Player 1</h6>
                                <span class="badge bg-success">Correct:</span> &nbsp;
                                <span class="badge bg-success">0</span> <br>
                                <span class="badge bg-danger">Wrong:&nbsp;</span> &nbsp;
                                <span class="badge bg-danger">0</span>
                            </div>
                            <div class="col-4 time text-center p-0">
                                <h6 class="viewer text-white">Viewers</h6>
                                <span class="badge bg-success">121</span> &nbsp;
                            </div>

                            <!-- <div class="col-3 time text-right p-0">
                                <h3 class="text-danger">
                                    15 secs
                                </h3>
                            </div> -->
                            <!-- Time -->
                            <div class="col-4 time text-right p-0">
                                <h6 class="text-white text-right">
                                    Time left:
                                </h6>
                                <span class="badge">15 secs</span>

                            </div>
                        </div>
                        <!-- Panel body -->
                        <div class="q-panel-body col-12">
                            <div class="q-board">
                                <!-- Question board header -->
                                <div class="q-board-header">
                                    <h5>Who was the first man on the moon?</h5>
                                </div>
                                <!-- Question board content -->
                                <div class="q-board-content">
                                    <div class="row">
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge ">A: </span>
                                                <span class="ans"> Neil Amstrong</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge ">B: </span>
                                                <span class="ans">Buhari</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge  ">C: </span>
                                                <span class="ans">Jonathan Cage</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge ">D: </span>
                                                <span class="ans">Obasanjo</span>
                                            </button>
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button class="btn btn-success">Submit</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Course -->
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-1 text-white">
                                <span class="badge red">Course:</span> Mathematics &nbsp;
                                <span class="badge red">Questions:</span> 10 &nbsp;
                                <span class="badge red">Marks:</span> 10
                            </div>
                        </div>

                        <!-- Panel footer -->
                        <div class="q-panel-footer col-12 mt-5">
                            <div class="row">
                                <!-- life line -->
                                <div class="col-12 col-md-3">
                                    <button class="btn btn-info life-line"><i class="fa fa-phone "></i> Friend</button>
                                </div>
                                <div class="col-12 col-md-3">
                                    <button class="btn btn-warning life-line"><i class="fa fa-phone "></i> Parent</button>
                                </div>
                                <div class="col-12 col-md-3 ">
                                    <button class="btn btn-light-blue life-line">Skip</button>
                                </div>
                                <div class="col-12 col-md-3 ">
                                    <button class="btn btn-danger life-line">Quit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Player 2 Screen -->
                <div class="col-md-6 col-12 player-2">

                    <!-- Preloader -->
                    <div class="waiting-preloader">
                        <div class="box">
                            <h6>waiting...</h6>
                        </div>
                    </div>

                    <!-- Panel -->
                    <div class="col-12 q-panel p-0">
                        <!--Panel header -->
                        <div class="q-panel-header col-12">
                            <div class="col-4 score p-0">
                                <h6 class="text-white">Player 2</h6>
                                <span class="badge bg-success">Correct:</span> &nbsp;
                                <span class="badge bg-success">0</span>
                                <br>
                                <span class="badge bg-danger">Wrong:&nbsp;</span> &nbsp;
                                <span class="badge bg-danger">0</span>
                            </div>
                            <div class="col-4 time text-center p-0">
                                <h6 class="viewer text-white">Viewers</h6>
                                <span class="badge bg-success">121</span> &nbsp;
                            </div>

                            <!-- <div class="col-3 time text-right p-0">
                                                    <h3 class="text-danger">
                                                        15 secs
                                                    </h3>
                                                </div> -->
                            <!-- Time -->
                            <div class="col-4 time text-right p-0">
                                <h6 class="text-white text-right">
                                    Time left:
                                </h6>
                                <span class="badge">15 secs</span>

                            </div>
                        </div>
                        <!-- Panel body -->
                        <div class="q-panel-body col-12">
                            <div class="q-board">
                                <!-- Question board header -->
                                <div class="q-board-header">
                                    <h5>Who was the first man on the moon?</h5>
                                </div>
                                <!-- Question board content -->
                                <div class="q-board-content">
                                    <div class="row">
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge ">A: </span>
                                                <span class="ans"> Neil Amstrong</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge ">B: </span>
                                                <span class="ans">Buhari</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge  ">C: </span>
                                                <span class="ans">Jonathan Cage</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-6 p-0">
                                            <button class="btn btn-white btn-mod">
                                                <span class="badge ">D: </span>
                                                <span class="ans">Obasanjo</span>
                                            </button>
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button class="btn btn-success">Submit</button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Panel footer -->
                        <div class="q-panel-footer col-12 mt-5">
                            <div class="row">
                                <!-- life line -->
                                <div class="col-12 col-md-3">
                                    <button class="btn btn-info life-line">
                                        <i class="fa fa-phone "></i> Friend</button>
                                </div>
                                <div class="col-12 col-md-3">
                                    <button class="btn btn-warning life-line">
                                        <i class="fa fa-phone "></i> Parent</button>
                                </div>
                                <div class="col-12 col-md-3 ">
                                    <button class="btn btn-success life-line">Skip</button>
                                </div>
                                <div class="col-12 col-md-3 ">
                                    <button class="btn btn-danger life-line">Quit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<app-footer></app-footer>