<!-- Preloader -->
<!-- <div class="preloader">
    <div class="loader animated pulse">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>

    </div>
</div> -->
<!-- Preloader -->

<!-- Main wrapper -->
<div class="quiz-wrapper view">
    <div class="mask pattern-6"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 q-panel-holder animated pulse">

                <!-- Player 1 Screen -->
                <div class="col-md-12 col-lg-6 col-12 player-1">
                    <!-- Preloader -->
                    <!-- <div class="waiting-preloader">
                        <div class="box">
                            <h6>waiting...</h6>
                        </div>
                    </div> -->

                    <div class="col-12 q-panel p-0">
                        <!--Panel header -->
                        <div class="q-panel-header col-12">
                            <div class="col-4 score p-0">
                                <h6 class="text-white">{{player}}</h6>
                                <span class="badge bg-success">Correct:</span> &nbsp;
                                <span class="badge bg-success">{{right}}</span> <br>
                                <span class="badge bg-danger">Wrong:&nbsp;</span> &nbsp;
                                <span class="badge bg-danger">{{wrong}}</span>
                            </div>
                            <div class="col-4 time text-center p-0">
                                <h6 class="viewer text-white">Viewers</h6>
                                <span class="badge bg-success">121</span> &nbsp;
                            </div>

                            <!-- <div class="col-3 time text-right p-0">
                                <h3 class="text-danger">
                                    15 secs
                                </h3>
                            </div> -->
                            <!-- Time -->
                            <div class="col-4 time text-right p-0">
                                <h6 class="text-white text-right">
                                    Time left:
                                </h6>
                                <span class="badge">{{time}} secs</span>

                            </div>
                        </div>
                        <!-- Panel body -->
                        <div class="q-panel-body col-12">
                            <div class="q-board">
                                <form #answerForm="ngForm" (ngSubmit)="userAns(answerForm.value); answerForm.reset()" *ngIf="isMerged; else showDiv">
                                    <!-- {{ answerForm.value | json }} -->
                                    <!-- Question board header -->
                                    <div class="q-board-header">
                                        <h5>{{ question }}</h5>
                                    </div>
                                    <!-- Question board content -->
                                    <div #qBoard class="q-board-content">
                                        <div class="row">
                                            <div class="col-12 col-md-6 p-0">
                                                <label for="A" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" #option="ngModel" name="option" value="{{ answer}}" [ngModel] class="d-none" id="A">
                                                    <span class="badge ">A: </span>
                                                    <span class="ans">{{answer}}</span>
                                                    <span class="b-mask"></span>
                                                </label>
                                            </div>

                                            <div class="col-12 col-md-6 p-0">
                                                <label for="B" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" #option="ngModel" name="option" value="{{ option1}}" [ngModel] class="d-none" id="B">
                                                    <span class="badge ">B: </span>
                                                    <span class="ans">{{option1}}</span>
                                                    <span class="b-mask"></span>
                                                </label>
                                            </div>


                                            <div class="col-12 col-md-6 p-0">
                                                <label for="C" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" #option="ngModel" name="option" value="{{ option2}}" [ngModel] class="d-none" id="C">
                                                    <span class="badge ">C: </span>
                                                    <span class="ans">{{option2}}</span>
                                                    <span class="b-mask"></span>
                                                </label>

                                            </div>


                                            <div class="col-12 col-md-6 p-0">
                                                <label for="D" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" #option="ngModel" name="option" value="{{ option3}}" [ngModel] class="d-none" id="D"/>
                                                    <span class="badge ">D: </span>
                                                    <span class="ans">{{option3}}</span>
                                                    <span class="b-mask"></span>
                                                </label>
                                            </div>


                                            <div class="col-12 mt-5">
                                                <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                            </div>


                                        </div>

                                    </div>
                                </form>
                                <!-- end of form  -->

                                <!-- This will be displayed if the user has not been merged -->
                                <ng-template #showDiv>
                                    <h6 class="text-white text-center">{{ msg }}</h6>
                                </ng-template>
                            </div>
                            <!-- ./ Panel body -->
                        </div>
                        <!-- Course -->
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-1 text-white">
                                <span class="badge red">Subject:</span> {{ subject }} &nbsp;
                                <span class="badge red">Questions:</span> {{q_count}} &nbsp;
                                <span class="badge red">Score:</span> {{marks}}
                            </div>
                        </div>

                        <!-- Panel footer -->
                        <div class="q-panel-footer col-12 mt-5">
                            <div class="row">
                                <!-- life line -->
                                <div class="col-3">
                                    <button class="btn btn-info life-line"><i class="fa fa-phone "></i> Friend</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-warning life-line"><i class="fa fa-phone "></i> Parent</button>
                                </div>
                                <div class="col-3 ">
                                    <button class="btn btn-light-blue life-line">Skip</button>
                                </div>
                                <div class="col-3 ">
                                    <button (click)='quit()' class="btn btn-danger life-line">Quit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Player 2 Screen -->
                <div class="col-md-12 col-lg-6 col-12 player-2">
                    <!-- Preloader -->
                    <div class="waiting-preloader">
                        <div class="box">
                            <h6>waiting...</h6>
                        </div>
                    </div>

                    <div class="col-12 q-panel p-0">
                        <!--Panel header -->
                        <div class="q-panel-header col-12">
                            <div class="col-4 score p-0">
                                <h6 class="text-white">{{ opponent }}</h6>
                                <span class="badge bg-success">Correct:</span> &nbsp;
                                <span class="badge bg-success">{{right}}</span>
                                <br>
                                <span class="badge bg-danger">Wrong:&nbsp;</span> &nbsp;
                                <span class="badge bg-danger">{{wrong}}</span>
                            </div>
                            <div class="col-4 time text-center p-0">
                                <h6 class="viewer text-white">Viewers</h6>
                                <span class="badge bg-success">121</span> &nbsp;
                            </div>

                            <!-- <div class="col-3 time text-right p-0">
                                                    <h3 class="text-danger">
                                                        15 secs
                                                    </h3>
                                                </div> -->
                            <!-- Time -->
                            <div class="col-4 time text-right p-0">
                                <h6 class="text-white text-right">
                                    Time left:
                                </h6>
                                <span class="badge">{{time}} secs</span>

                            </div>
                        </div>
                        <!-- Panel body -->
                        <div class="q-panel-body col-12">
                            <div class="q-board">
                                <form *ngIf="isMerged; else showDiv">
                                    <!-- Question board header -->
                                    <div class="q-board-header">
                                        <h5>{{ question }}</h5>
                                    </div>
                                    <!-- Question board content -->
                                    <div class="q-board-content">
                                        <div class="row">
                                            <div class="col-12 col-md-6 p-0">
                                                <label for="A" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" name="option" value="{{ answer}}" class="d-none" id="A">
                                                    <span class="badge ">A: </span>
                                                    <span class="ans">{{answer}}</span>
                                                    <span class="b-mask"></span>
                                                </label>
                                            </div>

                                            <div class="col-12 col-md-6 p-0">
                                                <label for="B" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" name="option" value="{{ option1}}" class="d-none" id="B">
                                                    <span class="badge ">B: </span>
                                                    <span class="ans">{{option1}}</span>
                                                    <span class="b-mask"></span>
                                                </label>
                                            </div>


                                            <div class="col-12 col-md-6 p-0">
                                                <label for="C" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" name="option" value="{{ option2}}" id="C"/>
                                                    <span class="badge ">C: </span>
                                                    <span class="ans">{{option2}}</span>
                                                    <span class="b-mask"></span>
                                                </label>

                                            </div>


                                            <div class="col-12 col-md-6 p-0">
                                                <label for="D" class="form-check-label btn btn-white btn-mod">
                                                    <input type="radio" name="option" value="{{ option3}}" class="d-none" id="D" />
                                                    <span class="badge ">D: </span>
                                                    <span class="ans">{{option3}}</span>
                                                    <span class="b-mask"></span>
                                                </label>
                                            </div>


                                            <div class="col-12 mt-5">
                                                <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                            </div>


                                        </div>

                                    </div>
                                </form>
                                <!-- end of form  -->

                                <!-- This will be displayed if the user has not been merged -->
                                <ng-template #showDiv>
                                    <h6 class="text-white text-center">{{ msg }}</h6>
                                </ng-template>

                            </div>
                            <!-- ./ Panel body -->
                        </div>
                        <!-- Course -->
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-1 text-white">
                                <span class="badge red">Subject:</span> {{ subject }} &nbsp;
                                <span class="badge red">Questions:</span> {{q_count}} &nbsp;
                                <span class="badge red">Score:</span> {{marks}}
                            </div>
                        </div>

                        <!-- Panel footer -->
                        <div class="q-panel-footer col-12 mt-5">
                            <div class="row">
                                <!-- life line -->
                                <div class="col-3">
                                    <button class="btn btn-info life-line">
                                        <i class="fa fa-phone "></i> Friend</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-warning life-line">
                                        <i class="fa fa-phone "></i> Parent</button>
                                </div>
                                <div class="col-3 ">
                                    <button class="btn btn-light-blue life-line">Skip</button>
                                </div>
                                <div class="col-3 ">
                                    <button (click)='quit()' class="btn btn-danger life-line">Quit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<app-footer></app-footer>