// Variables
$bar-color: #fff;
$ball-color: #fff;
$bg-color: rgba(26, 4, 7, 0.856);
$bg-grad: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
// preloader div
.preloader {
    width: 100%;
    height: 100vh;
    background: red;
    position: relative;
    background: $bg-grad;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}

html {
    height: 100%;
}

.loader {
    position: relative;
    width: 75px;
    height: 100px;
    margin: 0 auto;
    &__bar {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 50%;
        background: $bar-color;
        transform-origin: center bottom;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                left: ($i - 1) * 15px;
                transform: scale(1, $i*.2);
                animation: barUp#{$i} 4s infinite;
            }
        }
    }
    &__ball {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 10px;
        height: 10px;
        background: $ball-color;
        border-radius: 50%;
        animation: ball 4s infinite;
    }
}

@keyframes ball {
    0% {
        transform: translate(0, 0);
    }
    5% {
        transform: translate(8px, -14px);
    }
    10% {
        transform: translate(15px, -10px)
    }
    17% {
        transform: translate(23px, -24px)
    }
    20% {
        transform: translate(30px, -20px)
    }
    27% {
        transform: translate(38px, -34px)
    }
    30% {
        transform: translate(45px, -30px)
    }
    37% {
        transform: translate(53px, -44px)
    }
    40% {
        transform: translate(60px, -40px)
    }
    50% {
        transform: translate(60px, 0)
    }
    57% {
        transform: translate(53px, -14px)
    }
    60% {
        transform: translate(45px, -10px)
    }
    67% {
        transform: translate(37px, -24px)
    }
    70% {
        transform: translate(30px, -20px)
    }
    77% {
        transform: translate(22px, -34px)
    }
    80% {
        transform: translate(15px, -30px)
    }
    87% {
        transform: translate(7px, -44px)
    }
    90% {
        transform: translate(0, -40px)
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes barUp1 {
    0% {
        transform: scale(1, .2);
    }
    40% {
        transform: scale(1, .2);
    }
    50% {
        transform: scale(1, 1);
    }
    90% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, .2);
    }
}

@keyframes barUp2 {
    0% {
        transform: scale(1, .4);
    }
    40% {
        transform: scale(1, .4);
    }
    50% {
        transform: scale(1, .8);
    }
    90% {
        transform: scale(1, .8);
    }
    100% {
        transform: scale(1, .4);
    }
}

@keyframes barUp3 {
    0% {
        transform: scale(1, .6);
    }
    100% {
        transform: scale(1, .6);
    }
}

@keyframes barUp4 {
    0% {
        transform: scale(1, .8);
    }
    40% {
        transform: scale(1, .8);
    }
    50% {
        transform: scale(1, .4);
    }
    90% {
        transform: scale(1, .4);
    }
    100% {
        transform: scale(1, .8);
    }
}

@keyframes barUp5 {
    0% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, .2);
    }
    90% {
        transform: scale(1, .2);
    }
    100% {
        transform: scale(1, 1);
    }
}

// Main style starts here
.quiz-wrapper {
    background: url('/assets/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e3f2fd;
    height: 100vh;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}

// Rewrite container to max-width of 1300px
.container {
    max-width: 1700px;
    // width: 1500px;
}

.mask {
    z-index: 1;
}

.player-1,
.player-2 {
    padding: 20px;
    position: relative;
    background: radial-gradient( rgba(28, 78, 190, 0.49), rgba(12, 44, 112, 0.5), rgba(20, 60, 148, 0.54));
}

.player-2 {
    .waiting-preloader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba($color: #000000, $alpha: .79);
        z-index: 5;
        // waiting box
        .box {
            width: 100px;
            border-radius: 100px;
            // background: #fff;
            margin: 0 auto;
            position: relative;
            top: 45%;
            h6 {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

.q-panel-holder {
    width: 100%;
    height: auto;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 5px;
    border-radius: 4px;
    // background: radial-gradient( #1c4ebe, #0c2c70, #143c94);
    position: relative;
    z-index: 3;
}

.q-panel {
    // background: radial-gradient( #1c4ebe, #0c2c70, #143c94);
    background: radial-gradient( rgba(28, 78, 190, 0.49), rgba(12, 44, 112, 0.5), rgba(20, 60, 148, 0.54));
    // padding: 0 10px;
    position: relative;
}

.q-panel .q-panel-header {
    display: flex;
    padding: 10px 10px;
}

.q-panel-header .time {
    text-transform: uppercase;
}

.q-panel-header .score {
    h6 {
        text-transform: uppercase;
    }
}

.q-panel .q-panel-body {
    padding: 20px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16), inset 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: auto;
}

.q-board {
    width: 100%;
    min-height: 300px;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    background: rgba(255, 255, 255, .06);
    padding: 30px 20px;
}

.q-board-header {
    width: 80%;
    margin: 0 auto;
    height: auto;
    min-width: 50px;
    // background: white;
    border: 2px solid #fff;
    position: relative;
    padding: 10px;
    border-radius: 48px;
}

.q-board-header h5 {
    font-weight: 900 !important;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.q-board-header::after {
    content: " ";
    display: block;
    position: absolute;
    top: 48%;
    left: 100%;
    width: 50px;
    height: 3px;
    background: #fff;
}

.q-board-header::before {
    content: " ";
    display: block;
    position: absolute;
    top: 48%;
    right: 100%;
    width: 50px;
    height: 3px;
    background: #fff;
}

.q-board-content {
    width: 100%;
    height: auto;
    margin: 40px auto 0;
    text-align: center;
    padding: 0 50px;
}

.badge {
    font-size: 14px;
}

// button modification
label.btn-mod {
    background: none !important;
    border: 2px solid #fff;
    color: #fff !important;
}

label.btn-mod:hover {
    background: #fff !important;
    color: #333 !important;
    .badge {
        color: #333 !important;
    }
}

label.btn {
    padding: 0;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    // badge
    .badge {
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 48px 0 0 48px;
        height: inherit;
        width: 30px;
        text-align: center;
        line-height: 25px;
        font-weight: 800 !important;
        background: none !important;
        box-shadow: none !important;
        z-index: 2;
    }
    .ans {
        position: relative;
        margin-left: 10px;
        line-height: 32px;
        z-index: 2;
    }
}

label.btn .b-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}

input[type="radio"]:checked~.b-mask {
    background: #fff;
    z-index: 1;
}

input[type="radio"]:checked~.ans,
input[type="radio"]:checked~.badge,
{
    z-index: 2;
    color: #333 !important;
}

button.life-line {
    width: 100%;
    min-width: 60px;
    padding: 10px !important;
    height: 60px !important;
    border-radius: 4px;
}

// Reseting all buttons with .btn class
$btn-padding-reset: 0px 24px;
$btn-radius: 60px;
$btn-font-size: 14px !important;
.btn {
    padding: $btn-padding-reset;
    border-radius: $btn-radius;
    font-size: $btn-font-size;
    height: 35px;
    min-width: 100%;
    width: auto;
    font-weight: 600;
    .badge {
        line-height: 23px !important;
    }
}

button.btn[type="submit"] {
    height: 35px;
    min-width: 150px;
    width: auto;
    font-weight: 600;
}

a.btn {
    color: #fff !important;
}

input[type="radio"] {
    display: none !important;
}

.waiting {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // background-color: rgba(255, 255, 255, .9);
    background: radial-gradient( rgba(28, 78, 190, 1), rgba(12, 44, 112, 1), rgba(20, 60, 148, 1));
    z-index: 3000;
    height: 560px;
    text-align: center;
    h6 {
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 58%;
        left: 50%;
        margin-left: -29.133px;
        margin-top: -10.5px;
    }
    .preloader-wrapper {
        position: fixed;
        top: 45%;
        margin-left: -32px;
        margin-top: -32px;
    }
}

.c-overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .76);
    z-index: 3000;
}

.container-fluid .row .card {
    position: absolute;
    z-index: 3001;
    margin-top: 100px;
}

.container-fluid .row .card .card-body #txt {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.container-fluid .row .card .card-body .area {
    width: 100%;
    height: auto;
}

.c-left,
.c-right {
    border-radius: 20px !important;
    min-width: 100px;
    width: auto !important;
    padding: 5px 20px !important;
    display: inline-block;
    clear: both;
}

#chat {
    display: none;
}

#game-over {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #212529;
    z-index: 3002;
    display: block;
    padding: 120px 20px;
}

.game-over {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: 40px;
}
