.wrapper {
    width: 100%;
    height: 100vh;
    // background: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
    position: relative;
}

.hero-btn {
    // color: rgb(25, 118, 210) !important;
    color: #fff !important;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    box-sizing: border-box;
    transform: skewY(8deg);
    transform-origin: 100% center 0px;
    padding: 48px 48px 32px;
    overflow: hidden;
    background: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
    z-index: 1;
}

.jumbotron {
    z-index: 2;
}

p {
    font-size: 14px;
}

h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}