<div class="wrapper animated fadeIn">
    <!-- Header -->
    <app-header></app-header>

    <!-- Sub wrapper -->
    <div class="content-wrapper">
        <!-- Hero -->
        <div class="hero d-sm-block d-none">

        </div>
        <!-- Main -->
        <main>
            <div class="container">
                <div class="row">
                    <!-- Welcome screen -->
                    <div class="jumbotron mt-20 animated pulse">
                        <div class="col-md-6  pull-left  pulse">
                            <img src="./assets/img/quiz-1.jpg" alt="Hero" class="w-100">
                        </div>
                        <div class="col-md-6 pull-left">
                            <h2 style="color: #000; text-transform: uppercase; font-weight: bold;" class=" slideInDown">Welcome to</h2>
                            <h4 class=" slideInDown"><span style="color: #000; text-transform: uppercase; font-weight: bold; font-size: 16px;">Wi-Monitor Quiz Factory</span></h4>
                            <p class=" mt-3">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi labore eligendi et ex voluptatum, ratione repellendus, quae eius nam laboriosam ipsam minus aliquam sint non provident veritatis dicta, vero sapiente.
                            </p>

                            <div class="col-12 pl-0 mt-5 text-center  pulse">
                                <button (click)="nextPage()" class="btn btn-primary hero-btn">Get started</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Proceed -->
                        <div class="col-12">
                            <div class="col-md-4  offset-md-4 text-center">
                                <!-- <button class="btn btn-white hero-btn">Get started</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- Main -->
    </div>
    <app-bullets></app-bullets>
</div>