<div class="white-skin">
    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <div id="side_nav" class="side_nav text-white">
            <div class="col-12 text-white text-center">
                <i class="fa fa-user-circle fa-5x"></i><br>
                <p class="tag mt-2 text-bold">John Doe</p>
            </div>
            <div class="mt-5">
                <div class="col-12">
                    <span class="">Level 2</span>
                    <span class="pull-right">Level 3</span>
                    <!-- Progress bar -->
                    <!-- Blue -->
                    <div class="progress mb-1" style="height: 10px">
                        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" style="width:30%; height: 10px"></div>
                    </div>
                    <span class="">230XP</span>
                    <span class="pull-right">300XP</span>
                </div>
            </div>
            <div class="mt-10">
                <!-- <h5 class="col-12 text-center mb-2 text-bold text-upper">Menu</h5> -->
                <ul class="menu-ul">
                    <li class="nav-link text-bold mb-2" routerLink="/profile">
                        <a routerLink="/profile"><i class="fa fa-bolt mr-3 fa-fw"></i>Dashboard</a>
                    </li>
                    <li class="nav-link text-bold mb-2" routerLink="/leaderboard">
                        <a routerLink="/leaderboard"><i class="fa fa-star mr-3 fa-fw"></i>Leaderboard</a>
                    </li>
                    <li class="nav-link text-bold mb-2 its-active">
                        <i class="fa fa-history mr-3 fa-fw"></i>History
                    </li>
                    <li class="nav-link text-bold mb-2" routerLink="/instructions">
                        <a routerLink="/instructions">
                            <i class="fa fa-gamepad mr-3 fa-fw"></i>Enter Challenge</a>
                    </li>
                    <!-- <li class="nav-link text-bold">
                        <i class="fa fa-users mr-3"></i> Friends
                    </li> -->
                </ul>
            </div>
            <!-- FOOTER -->
            <div class="footer text-center">
                <p>&copy;2018 | www.justwebtech.com</p>
            </div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left d-lg-none">
                <a (click)="breadcomb()" data-activates="slide-out" class="button-collapse" id="breadcumb">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>WI-MONITO</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-bell"></i>
                        <!-- <span class="badge red">2</span> -->
                        <span class="clearfix d-none d-sm-inline-block">Notification</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-user"></i>
                        <span class="clearfix d-none d-sm-inline-block">Account</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a (click)='logout()' class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->

    <!--Main Layout-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12  col-lg-6">
                    <!-- history -->
                    <div class="card">
                        <h6 class="card-header">History</h6>
                        <div class="card-body">
                            <div class="row m-0 history" style="background-color: #4caf504d; border: 1px solid #0080002e">
                                <!-- player image -->
                                <div class="col-2 p-0 text-center">
                                    <div class="col-12 p-0">
                                        <i class="fa fa-user-circle fa-2x"></i>
                                    </div>
                                    <!-- <div class="col-12 p-0">You</div> -->
                                </div>
                                <div class="col-2 p-0 l-h-2-rem">
                                    <p class="m-0 text-success">+25XP</p>
                                </div>
                                <div class="col-4 p-0 l-h-2-rem">
                                    <p class="m-0">Computer Science</p>
                                </div>
                                <div class="col-2 p-0 l-h-2-rem text-right">
                                    <p class="m-0 text-danger">-15XP</p>
                                </div>
                                <!-- Opponent image -->
                                <div class="col-2 p-0 text-center">
                                    <div class="col-12 p-0">
                                        <i class="fa fa-user-circle fa-2x"></i>
                                    </div>
                                    <!-- <div class="col-12 p-0">
                                                                        <p class="m-0">Jim_34</p>
                                                                    </div> -->
                                </div>
                            </div>
                            <div class="row m-0 history" style="background-color: #4caf504d; border: 1px solid #0080002e">
                                <!-- player image -->
                                <div class="col-2 p-0 text-center">
                                    <div class="col-12 p-0">
                                        <i class="fa fa-user-circle fa-2x"></i>
                                    </div>
                                    <!-- <div class="col-12 p-0">You</div> -->
                                </div>
                                <div class="col-2 p-0 l-h-2-rem">
                                    <p class="m-0 text-success">+45XP</p>
                                </div>
                                <div class="col-4 p-0 l-h-2-rem">
                                    <p class="m-0">Geography</p>
                                </div>
                                <div class="col-2 p-0 l-h-2-rem text-right">
                                    <p class="m-0 text-danger">-20XP</p>
                                </div>
                                <!-- Opponent image -->
                                <div class="col-2 p-0 text-center">
                                    <div class="col-12 p-0">
                                        <i class="fa fa-user-circle fa-2x"></i>
                                    </div>
                                    <!-- <div class="col-12 p-0">
                                                                                                    <p class="m-0">Jim_34</p>
                                                                                                </div> -->
                                </div>
                            </div>
                            <div class="row m-0 history" style="background-color: #f443364d; border: 1px solid #ff00002e">
                                <!-- player image -->
                                <div class="col-2 p-0 text-center">
                                    <div class="col-12 p-0">
                                        <i class="fa fa-user-circle fa-2x"></i>
                                    </div>
                                    <!-- <div class="col-12 p-0">You</div> -->
                                </div>
                                <div class="col-2 p-0 l-h-2-rem">
                                    <p class="m-0 text-danger">-25XP</p>
                                </div>
                                <div class="col-4 p-0 l-h-2-rem">
                                    <p class="m-0">Mathematics</p>
                                </div>
                                <div class="col-2 p-0 l-h-2-rem text-right">
                                    <p class="m-0 text-success">+55XP</p>
                                </div>
                                <!-- Opponent image -->
                                <div class="col-2 p-0 text-center">
                                    <div class="col-12 p-0">
                                        <i class="fa fa-user-circle fa-2x"></i>
                                    </div>
                                    <!-- <div class="col-12 p-0">
                                                                        <p class="m-0">Jim_34</p>
                                                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <h6 class="card-header">Waiting Games</h6>
                        <div class="card-body part">
                            <div class="row m-0 bar mb-3">
                                <!-- <i class="fa fa-user-circle"></i> -->
                                <div class="col-1">
                                    <div class="img"></div>
                                </div>
                                <div class="d-none d-md-inline col-sm-2 pr-0 col-xl-p">
                                    <span class="">Jane</span>
                                    <!-- <span class="text-success">Level 7</span> -->
                                </div>
                                <div class="col-6 col-sm-5 col-xl-p text-center">
                                    <span class="mb-0">Current Affairs</span>
                                </div>
                                <div class="col-2 col-xl-p text-success text-center">+25XP</div>
                                <div class="col-2 col-xl-p text-danger text-center">-15XP</div>
                            </div>
                            <div class="row m-0 bar mb-3">
                                <!-- <i class="fa fa-user-circle"></i> -->
                                <div class="col-1">
                                    <div class="img"></div>
                                </div>
                                <div class="d-none d-md-inline col-sm-2 pr-0 col-xl-p">
                                    <span class="">Nikki</span>
                                    <!-- <span class="text-success">Level 10</span> -->
                                </div>
                                <div class="col-6 col-sm-5 col-xl-p text-center">
                                    <span class="mb-0">Computer Science</span>
                                </div>
                                <div class="col-2 col-xl-p text-success text-center">+45XP</div>
                                <div class="col-2 col-xl-p text-danger text-center">-20XP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Badges and rewards -->
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <h6 class="card-header">Badges</h6>
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col-12 achievements">
                                    <div class="col-12 achievement  mb-3 p-0">
                                        <div class="row p-0 m-0">
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <i class="fa fa-check-circle text-success fa-4x mr-3"></i> &nbsp;&nbsp;
                                            </div>
                                            <div class="col-9 mt-3-rem">
                                                <p class="text-success text-bold mb-0">Verified</p>
                                                <h6 class="mb-0">Verify your email address</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 achievement  mb-3 p-0">
                                        <div class="row p-0 m-0">
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <i class="fa fa-magic text-gray fa-4x mr-3"></i> &nbsp;&nbsp;
                                            </div>
                                            <div class="col-9 mt-3-rem">
                                                <p class="text-gray text-bold mb-0">Engaged In</p>
                                                <h6 class="text-bold text-gray mb-0">Start your first Challenge</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 achievement  mb-3 p-0">
                                        <div class="row p-0 m-0">
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <i class="fa fa-trophy text-gray fa-4x mr-3"></i> &nbsp;&nbsp;
                                            </div>
                                            <div class="col-9 mt-3-rem">
                                                <p class="text-gray text-bold mb-0">Just Getting Started</p>
                                                <h6 class="text-bold text-gray mb-0">Win a Challenge</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <h6 class="card-header">Rewards</h6>
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col-12 achievements">
                                    <div class="col-12 achievement p-0 mb-3">
                                        <div class="row p-0 m-0">
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <i class="fa fa-money text-gray fa-4x mr-3"></i> &nbsp;&nbsp;
                                            </div>
                                            <div class="col-8 offset-1 mt-3-rem">
                                                <p class="text-gray text-bold mb-0">N500</p>
                                                <h6 class="text-gray mb-0">Win 10 Challenges</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 achievement p-0 mb-3">
                                        <div class="row p-0 m-0">
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <i class="fa fa-money text-gray fa-4x mr-3"></i> &nbsp;&nbsp;
                                            </div>
                                            <div class="col-8 offset-1 mt-3-rem">
                                                <p class="text-gray text-bold mb-0">N1,000</p>
                                                <h6 class="text-bold text-gray mb-0">Win 50 Challenges</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 achievement p-0 mb-3">
                                        <div class="row p-0 m-0">
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <i class="fa fa-money text-gray fa-4x mr-3"></i> &nbsp;&nbsp;
                                            </div>
                                            <div class="col-8 offset-1 mt-3-rem">
                                                <p class="text-gray text-bold mb-0">N2,500</p>
                                                <h6 class="text-bold text-gray mb-0">Win 100 Challenges</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!--Main Layout-->
    <div (click)="close()" id="mask" class="animated fadeIn"></div>
</div>