<div class="wrapper">
    <app-header></app-header>

    <!-- this will hold the instructions -->
    <div class="container">
        <div class="row">
            <div class="instructions mt-5 mb-5 animated pulse">
                <!-- header -->
                <div class="col-12 instructions-header text-center">
                    <h5>Playing instructions</h5>
                </div>
                <!-- instructions body -->
                <div class="col-12 instructions-body">
                    <ol class="d-block">
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                    </ol>
                </div>
                <!-- instructions footer -->
                <div class="instructions-footer text-center">
                    <div class="form-group d-flex">
                        <button (click)="agree()" class="btn btn-success">Agree</button>
                        <button (click)="cancel()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-bullets></app-bullets>