<div class="wrapper animated fadeIn">
    <app-header></app-header>

    <!-- this will hold the instructions -->
    <div class="container">
        <div class="row">
            <div class="instructions mt-5 mb-5 animated pulse">
                <!-- header -->
                <div class="col-12 instructions-header text-center">
                    <h5>Playing instructions</h5>
                </div>
                <!-- instructions body -->
                <div class="col-12 instructions-body">
                    <ol class="d-block">
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet enim officia necessitatibus. Harum numquam rem</li>
                    </ol>
                </div>
                <!-- instructions footer -->
                <div class="instructions-footer text-center">
                    <div class="form-group d-flex">
                        <button class="btn btn-success" data-toggle="modal" data-target="#modalLoginForm">Agree</button>
                        <button (click)="cancel()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup modal -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h6 class="modal-title w-100 font-weight-bold">Choose your subject</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- form -->
                <form #subjectsForm="ngForm" (ngSubmit)='onSubmit(subjectsForm.value)'>
                    <div class="modal-body mx-3">

                        <!--Radio group-->
                        <div *ngFor="let subject of subjects">
                            <div class="form-check">
                                <input #input="ngModel" class="form-check-input with-gap radio-value" name="group" type="radio" id="radio{{subject.subject_id}}" value="{{ subject.subject_id }}" required ngModel>
                                <label class="form-check-label" for="radio{{subject.subject_id}}">{{ subject.subject }}</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small class="text-success text-right">Waiting</small>
                            </div>
                        </div>

                        <!--Radio group-->

                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <input type="submit" class="btn btn-success" id="enterQuiz" value="Play" />
                        <small class="text-danger animated fadeIn">{{ error }}</small>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<app-bullets></app-bullets>