.wrapper {
    background: linear-gradient(120deg, rgb(255, 255, 255) 50%, #ff3547 50%);
    height: auto;
}

.instructions {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 40px;
    background: white;
    border-radius: 4px;
}

.instructions-header {
    padding: 10px 0;
    text-transform: uppercase;
    color: #567;
}

.instructions-body {
    height: auto;
}

ol {
    list-style-type: square !important;
}

ol li {
    padding: 15px 0;
    font-size: 16px;
    color: #567;
}

ul.courses {
    li {
        height: auto;
        // background:;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        // hover
        &:hover {
            background: #c8e6c9;
        }
    }
}