<div class="white-skin">
    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed mdb-sidenav">
            <ul class="custom-scrollbar list-unstyled" style="max-height:100vh;">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="#">
                            <span src="" class="img-fluid flex-center" alt="wi-monito">wi-monito</span>
                        </a>
                    </div>
                </li>
                <!--/. Logo -->
                <!--Social-->
                <li>
                    <ul class="social">
                        <li>
                            <a href="#" class="icons-sm fb-ic">
                                <i class="fa fa-facebook"> </i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icons-sm pin-ic">
                                <i class="fa fa-pinterest"> </i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icons-sm gplus-ic">
                                <i class="fa fa-google-plus"> </i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icons-sm tw-ic">
                                <i class="fa fa-twitter"> </i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/Social-->
                <!--Search Form-->
                <li>
                    <form class="search-form" role="search">
                        <div class="form-group md-form mt-0 pt-1 waves-light">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </li>
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a routerLink="/dashboard" class="collapsible-header waves-effect arrow-r">
                                <i class="fa fa-chevron-right"></i> Dashboard
                                <!-- <i class="fa fa-angle-down rotate-icon"></i> -->
                            </a>
                            <!-- <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Submit listing</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Registration form</a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                        <li class="">
                            <a routerLink="/add" routerLinkActive="active" class="collapsible-header waves-effect arrow-r">
                                <i class="fa fa-hand-pointer-o"></i> Add new subject
                                <!-- <i class="fa fa-angle-down rotate-icon"></i> -->
                            </a>
                            <!-- <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">For bloggers</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">For authors</a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r">
                                <i class="fa fa-eye"></i> Add new question
                                <!-- <i class="fa fa-angle-down rotate-icon"></i> -->
                            </a>
                            <!-- <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Introduction</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Monthly meetings</a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a data-activates="slide-out" class="button-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>WI-MONITO</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-envelope"></i>
                        <span class="clearfix d-none d-sm-inline-block">Contact</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-comments-o"></i>
                        <span class="clearfix d-none d-sm-inline-block">Support</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-user"></i>
                        <span class="clearfix d-none d-sm-inline-block">Account</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a (click)='logout()' class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->

    <!--Main Layout-->
    <main>
        <div class="container mt-5">
            <div class="row">
                <!-- card -->
                <div class="col-12 col-md-6 col-xl-4 mb-5">
                    <div class="card">

                        <h6 class="card-header text-white">
                            Add new subject
                        </h6>
                        <form #subjectForm="ngForm" (submit)="addSubject(subjectForm.value)">
                            <div class="card-body">

                                <!-- Material input subject -->
                                <div class="md-form">
                                    <!-- <i class="fa fa-book prefix grey-text"></i> -->
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddSubjectEx" class="form-control" name="sub" #sub="ngModel" [(ngModel)]="subjectModel.subject" [class.is-invalid]="subject.invalid && subject.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddSubjectEx">Subject name</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="sub.valid || sub.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- This will display information from the server -->
                                <small class="text-center d-block text-danger"> {{ subjectInfo }}</small>
                                <small class="text-center d-block text-success"> {{ subjectSuccess }}</small>
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <button class="btn btn-default" type="submit" [disabled]="sub.invalid || sub.pristine">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Question panel -->
                <div class="col-12 col-md-6 col-xl-4 mb-5">
                    <div class="card">
                        <h6 class="card-header text-white ">
                            Add new question
                        </h6>
                        <form #questionForm="ngForm" (submit)="addQuestion(questionForm.value)">
                            <div class="card-body">
                                <!-- Material input subject -->
                                <div class="md-form">
                                    <!-- <i class="fa fa-book prefix grey-text"></i> -->
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddQuestionEx" class="form-control" name="question" #question="ngModel" [(ngModel)]="questionModel.question" [class.is-invalid]="question.invalid && question.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddQuestionEx">Question</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="question.valid || question.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input subject -->
                                <div class="md-form">
                                    <!--Blue select-->
                                    <div class="select-wrapper mdb-select colorful-select dropdown-primary">
                                        <select id="materialFormSelectEx" name="subject" #subject="ngModel" [(ngModel)]="questionModel.subject" class="form-control d-block">
                                            <option selected>Choose subject...</option>
                                            <option *ngFor="let subj of Subjs" value="{{subj.subject_id}}">{{subj.subject}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Material input Options -->
                                <div class="md-form">
                                    <!-- <i class="fa fa-book prefix grey-text"></i> -->
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddOption1Ex" class="form-control" name="option1" #option1="ngModel" [(ngModel)]="questionModel.option1" [class.is-invalid]="option1.invalid && option1.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddOption1Ex">Option 1</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="option1.valid || option1.untouched">Field is required</small>
                                    </div>
                                </div>

                                <!-- Material input Options -->
                                <div class="md-form">
                                    <!-- <i class="fa fa-book prefix grey-text"></i> -->
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddOption2Ex" class="form-control" name="option2" #option2="ngModel" [(ngModel)]="questionModel.option2" [class.is-invalid]="option2.invalid && option2.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddOption2Ex">Option 2</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="option2.valid || option2.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input Options -->
                                <div class="md-form">
                                    <!-- <i class="fa fa-book prefix grey-text"></i> -->
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddOption3Ex" class="form-control" name="option3" #option3="ngModel" [(ngModel)]="questionModel.option3" [class.is-invalid]="option3.invalid && option3.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddOption3Ex">Option 3</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="option3.valid || option3.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input Options -->
                                <div class="md-form">
                                    <!-- <i class="fa fa-book prefix grey-text"></i> -->
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddAnswerEx" class="form-control" name="answer" #answer="ngModel" [(ngModel)]="questionModel.answer" [class.is-invalid]="answer.invalid && answer.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddAnswerEx">Answer</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="answer.valid || answer.untouched">Field is required</small>
                                    </div>
                                </div>
                                <small class="text-center d-block text-danger">{{questionInfo}}</small>
                                <small class="text-center d-block text-success">{{questionSuccess}}</small>

                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <button class="btn btn-default" type="submit" [disabled]="question.invalid || question.pristine || subject.invalid || subject.pristine || option1.invalid || option1.pristine || option2.invalid || option2.pristine || option3.invalid || option3.pristine || answer.invalid || answer.pristine">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Parent form -->
                <div class="col-12 col-md-6 col-xl-4 mb-5">
                    <div class="card">
                        <h6 class="card-header text-white ">
                            Add a parent/guardian
                        </h6>
                        <form #guardianForm="ngForm" (ngSubmit)="addGuardian(guardianForm.value)">
                            <div class="card-body">
                                <!-- Material input guardian -->
                                <div class="md-form">
                                    <!-- Input field -->
                                    <input type="text" id="materialFormUsernameEx" class="form-control" name="username" #username="ngModel" [(ngModel)]="guardianModel.username" [class.is-invalid]="username.invalid && username.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormUsernameEx">Username</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="username.valid || username.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input guardian -->
                                <div class="md-form">
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddGuardianEx" class="form-control" name="guardian" #guardian="ngModel" [(ngModel)]="guardianModel.guardian" [class.is-invalid]="guardian.invalid && guardian.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddGuardianEx">Full name</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="guardian.valid || guardian.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input guardian -->
                                <div class="md-form">
                                    <!-- Input field -->
                                    <input type="email" id="materialFormAddEmailEx" class="form-control" name="email" #email="ngModel" [(ngModel)]="guardianModel.email" [class.is-invalid]="email.invalid && email.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddEmailEx">Email</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="email.valid || email.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input guardian -->
                                <div class="md-form">
                                    <!-- Input field -->
                                    <input type="email" id="materialFormAddPhoneEx" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="guardianModel.phone" [class.is-invalid]="phone.invalid && phone.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddPhoneEx">Phone</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="phone.valid || phone.untouched">Field is required</small>
                                    </div>
                                </div>
                                <!-- Material input ward -->
                                <div class="md-form">
                                    <div class="select-wrapper mdb-select colorful-select dropdown-primary">
                                        <select id="materialFormSelect2Ex" name="ward" #ward="ngModel" [(ngModel)]="guardianModel.ward" class="form-control d-block">
                                            <option>Choose Ward...</option>
                                            <option *ngFor="let ward of Wards" value="{{ward.user_id}}">{{ward.username}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Material input ward -->
                                <div class="md-form">
                                    <!-- Input field -->
                                    <input type="text" id="materialFormAddRelationshipEx" class="form-control" name="relationship" #relationship="ngModel" [(ngModel)]="guardianModel.relationship" [class.is-invalid]="relationship.invalid && relationship.touched" required>
                                    <!-- Label -->
                                    <label for="materialFormAddRelationshipEx">Relationship</label>
                                    <div class="text-right">
                                        <small class="animated fadeIn text-danger" [class.d-none]="relationship.valid || relationship.untouched">Field is required</small>
                                    </div>
                                </div>
                                <small class="text-center d-block text-danger">{{guardianInfo}}</small>
                                <small class="text-center d-block text-success">{{guardianSuccess}}</small>

                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <button class="btn btn-default" type="submit" [disabled]="guardian.invalid || guardian.pristine || relationship.invalid || relationship.pristine || phone.invalid || phone .pristine || email.invalid || email.pristine || username.invalid || username.pristine || ward.invalid || ward.pristine">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./ card -->
            </div>
        </div>
    </main>
    <!--Main Layout-->
    <div id="sidenav-overlay"></div>
</div>