$primary-color: rgb(25, 118, 210);
span.fa {
    color: $primary-color;
    letter-spacing: 10px;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid rgb(25, 118, 210);
    margin: 0 5px;
    cursor: pointer;
}

.circle.active {
    background: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
}

footer {
    padding: 20px;
}