<footer class="bullets text-center animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col">
                <a routerLink="/welcome" routerLinkActive="active" class="circle _1"></a>
                <a routerLink="/instructions" routerLinkActive="active" class="circle _2"></a>
                <!-- <a routerLink="/quiz" routerLinkActive="active" class="circle _3"></a> -->
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</footer>